@page "/profile"

<PageTitle>Profile</PageTitle>

<AuthorizeView>
    <Authorized>
        <MudContainer Class="mt-8">
            <MudStack Spacing="4">
                <h1 class="ms-4 mb-12">Profile</h1>

                <MudPaper class="pa-4" Elevation="3">
                    <div Style="@($"color:{Colors.Amber.Darken2};")">Username:</div>
                    @if (UserService.CurrentUser != null)
                    {
                        <p style="font-size: clamp(1rem, 20px, 2rem);">
                            @UserService.CurrentUser?.Username
                        </p>
                    }
                    else
                    {
                        <p>
                            Loading...
                        </p>
                    }
                </MudPaper>

                <MudPaper class="pa-4" Elevation="3">
                    <div Style="@($"color:{Colors.Amber.Darken2};")">E-Mail Address:</div>

                    @if (UserService.CurrentUser != null)
                    {
                        <p style="font-size: clamp(1rem, 20px, 2rem);">
                            @UserService.CurrentUser?.Email
                        </p>
                    }
                    else
                    {
                        <p>
                            Loading...
                        </p>
                    }
                </MudPaper>

                <MudGrid Spacing="2" Justify="Justify.FlexStart">
                    <MudItem>
                        <MudPaper class="pa-4" Elevation="3">
                            <div>Workout Count</div>

                            @if (UserService.CurrentUser != null)
                            {
                                <p style="width: 100%; text-align: center; margin-top: 1rem; font-size: clamp(1rem, 40px, 3rem); @($"color:{Colors.Amber.Darken2};")">
                                    43
                                </p>
                            }
                            else
                            {
                                <p>
                                    Loading...
                                </p>
                            }
                        </MudPaper>
                    </MudItem>
                    <MudItem>
                        <MudPaper Height="140px" Width="140px"/>
                    </MudItem>
                    <MudItem>
                        <MudPaper Height="140px" Width="140px"/>
                    </MudItem>
                </MudGrid>

                <div></div>
            </MudStack>
        </MudContainer>
    </Authorized>
    <NotAuthorized>
        <MudContainer Class="mt-8">
            <MudStack Spacing="4">
                <h1 class="ms-4 mb-12">You are not logged in!</h1>
                <MudPaper class="pa-4" Elevation="3">
                    <div>Please click <a href="/login" style="color: yellow;">here</a> in order to get redirected to the Log In site!</div>
                </MudPaper>
            </MudStack>
        </MudContainer>
    </NotAuthorized>
</AuthorizeView>


@code {
    int workoutCount = 0;

    protected override async Task OnInitializedAsync()
    {
        
    }

}