@page "/"

<PageTitle>Stats</PageTitle>

<AuthorizeView>
    <Authorized>
        <MudContainer Class="mt-8">
            <MudStack Spacing="16">
                <h1 class="ms-4">Statistic</h1>

                @if (false)
                {
                @*<DataInit Data="Series">
                    <ChildContent Context="series">
                        <DataInit Data="_xAxisLabels">
                            <ChildContent Context="xAxisLabels">
                                <MudChart ChartType="ChartType.Bar" ChartSeries="@series" @bind-SelectedIndex="@_selectedIndex" XAxisLabels="@xAxisLabels.ToArray()" Width="100%" ChartOptions="@_chartOptions"></MudChart>
                            </ChildContent>
                        </DataInit>
                    </ChildContent>
                </DataInit>*@

                    <DataInit Data="_lastTrainingDays">
                        <ChildContent Context="lastTrainingDays">
                            <MudTimeline TimelineOrientation="TimelineOrientation.Horizontal" TimelinePosition="TimelinePosition.Top">
                                @foreach (var trainingDay in lastTrainingDays)
                                {
                                    <MudTimelineItem>
                                        <MudText Align="Align.Center">@trainingDay</MudText>
                                    </MudTimelineItem>
                                }
                            </MudTimeline>
                        </ChildContent>
                    </DataInit>
                }
            </MudStack>
        </MudContainer>
    </Authorized>
    <NotAuthorized>
        <MudContainer Class="mt-8">
            <MudStack Spacing="4">
                <h1 class="ms-4 mb-12">You are not logged in!</h1>
                <MudPaper class="pa-4" Elevation="3">
                    <div>Please click <a href="/login" style="color: yellow;">here</a> in order to get redirected to the Log In site!</div>
                </MudPaper>
            </MudStack>
        </MudContainer>
    </NotAuthorized>
</AuthorizeView>


@code {
    private int _selectedIndex = -1; //default value cannot be 0 -> first selectedindex is 0.

    List<ChartSeries> Series { get; set; } = null!;
    private readonly ChartOptions _chartOptions = new();
    List<string> _xAxisLabels = null!;

    List<string> _lastTrainingDays = null!;

    protected override async Task OnInitializedAsync()
    {
    /*Series = Statistic.GenerateChartSeries();

        _chartOptions.InterpolationOption = InterpolationOption.NaturalSpline;
        _chartOptions.DisableLegend = true;

        _xAxisLabels = Statistic.GetDatesToString();*/

        if (false)
        {
            _lastTrainingDays = Statistic.GenerateTrainingDays(ActivityRepository, UserService.CurrentUser!.Id);
        }
    }

}